
h2{
    color:rgb(223, 223, 41);
}
.hero__content {
    padding-top: 70px;
    display: flex;
    justify-content: center;
     /* Centrer le contenu */
  }
  .content-wrapper {
    display: flex;
    flex-direction: column; /* Aligne le texte et l'image verticalement */
    align-items: center; /* Centrer le texte et l'image horizontalement */
  }
  
  .text-content {
    margin-bottom: 20px; /* Ajouter de l'espace en dessous du texte */
    text-align: center; /* Centrer le texte si nécessaire */
  }
  
  .deslixi {
    width: 28%; /* Ajuster selon la taille souhaitée */
    height: auto;
    margin-left: 11%;
    margin-top: -2%;
    margin-right: 5%;
    margin-inline-start: 15%;
    margin-bottom: 100%;
  }
  